# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Godot Web Release

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

env:
  GODOT_VERSION: 4.5.1
  PROJECT_PATH: .

jobs:
  build_web:
    # runs-on: ubuntu-latest
    runs-on: ubuntu-24.04  # Use 24.04 with godot 4
    container:
      # https://hub.docker.com/r/barichello/godot-ci/tags
      image: barichello/godot-ci:4.5.1

    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Setup Godot
        run: |
          mkdir -v -p ~/.local/share/godot/export_templates/
          mv /root/.local/share/godot/export_templates/${GODOT_VERSION}.stable ~/.local/share/godot/export_templates/${GODOT_VERSION}.stable
     
      - name: Build web app
        run: |
          mkdir -v -p build/web
          EXPORT_DIR="$(readlink -f build)"
          cd $PROJECT_PATH
          godot --headless --verbose --export-release "Web" "$EXPORT_DIR/web/index.html"

      - name: Upload build artifacts # for deployment
        uses: actions/upload-artifact@v4
        with:
          name: web-release
          path: build/web

  deploy:
    needs: build_web
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pages: write
      id-token: write

    steps:
      - name: Downloaf build artifacts
        uses: actions/download-artifact@v4
        with:
          name: web-release
          path: build/web

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/web
